<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    {% if user.is_authenticated %}
        <form action = '{% url "logout" %}' method="post">
            {% csrf_token %}
            <button method = 'submit'>log out</button>
        </form>
        <span>|</span>
        <a href = "{% url 'profile'%}">Profile</a>
    {% else %}
        <a href = "{% url 'login' %}">Log in</a>
        <span>|</span>
        <a href = "{% url 'register'%}">Register</a>
    {% endif %}
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>