{% extends 'users/base.html' %}

{% block content %}
    <p><a href = '{{ creation_url }}'>Click to create group</a></p>
    <hr>
    {% for i in group %}
        <h2>{{ i.group_name }}</h2>
        {% if request.user == i.creator %}
            <p>
                <a href = "{{ i.get_absolute_url }}edit">Edit Group</a>
            </p>
        {% endif %}
        <p>{{ i.creator }}</p>
        <p></p>
        <small><a href = "{{ i.get_absolute_url }}">fall in</a></small>
        <hr>
    {% endfor %}

    {% if page_obj.has_other_pages %}
        {% for i in paginator.page_range %}
            <li>
                <a href = "?page={{i}}">{{i}}</a>
            </li>
        {% endfor%}
    {% endif %}
{% endblock %}