{% extends 'users/base.html' %}

{% block content %}
    <h1>Posts for: {{ title }}</h1>
    <p><a href = '{{ creation_url }}'>Click to create post</a></p>
    <hr>
    {% for i in post %}
        <p>{{ i.creator }}</p>
        <p>{{ i.text }}</p>
        {% if i.file %}
            <img src = '{{ i.file.url }}' width = '300' height = '400'>
            <p>{{ i.file.url }}</p>
        {% endif %}

        {% if request.user == i.creator %}
            <a href="{% url 'edit_post' slug_group=title slug_post=i.post_slug %}">Edit</a>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ i.pk }}" name = 'likes'>
            <input type = 'submit' value="Like {{ i.amnt_of_likes }}">
        </form>
        <small>time created: {{ i.time_created }}</small>
        <hr>
    {% endfor %}

    {% if page_obj.has_other_pages %}
        {% for i in paginator.page_range %}
            <li>
                <a href = "?page={{i}}">{{i}}</a>
            </li>
        {% endfor%}
    {% endif %}
{% endblock %}